---
import "../styles/global.css";
const activeLang = Astro.currentLocale;
---

<!doctype html>
<html lang={activeLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kyoto Tech Meetup</title>
	</head>
	<body>
		<slot />
	</body>
</html>
